--
-- PostgreSQL database dump
--

\restrict VrzDBLhlt6gGgW89hCNkGNqG2sRKz25L0k9r8tpaIXkI3gybROPxMf5uFehe9va

-- Dumped from database version 16.15
-- Dumped by pg_dump version 16.15

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Data for Name: squadra; Type: TABLE DATA; Schema: public; Owner: user_biliardino
--

COPY public.squadra (id, nome, immagine, colore_1, colore_2, in_corsa) FROM stdin;
1	DAJEROMADAJE	https://asromafan.altervista.org/wp-content/uploads/2025/06/as-roma-2025-logo.png	red	yellow	t
\.


--
-- Data for Name: giocatore; Type: TABLE DATA; Schema: public; Owner: user_biliardino
--

COPY public.giocatore (id, nome, cognome, nazionalita, telefono, telefono_confermato, squadra_id) FROM stdin;
\.


--
-- Data for Name: partita; Type: TABLE DATA; Schema: public; Owner: user_biliardino
--

COPY public.partita (id, data, orario) FROM stdin;
\.


--
-- Data for Name: risultati; Type: TABLE DATA; Schema: public; Owner: user_biliardino
--

COPY public.risultati (id_partita, id_squadra, casa, giocata, gol, vittoria) FROM stdin;
\.


--
-- Name: giocatore_id_seq; Type: SEQUENCE SET; Schema: public; Owner: user_biliardino
--

SELECT pg_catalog.setval('public.giocatore_id_seq', 1, false);


--
-- Name: partita_id_seq; Type: SEQUENCE SET; Schema: public; Owner: user_biliardino
--

SELECT pg_catalog.setval('public.partita_id_seq', 1, false);


--
-- Name: squadra_id_seq; Type: SEQUENCE SET; Schema: public; Owner: user_biliardino
--

SELECT pg_catalog.setval('public.squadra_id_seq', 1, true);


--
-- PostgreSQL database dump complete
--

\unrestrict VrzDBLhlt6gGgW89hCNkGNqG2sRKz25L0k9r8tpaIXkI3gybROPxMf5uFehe9va

